@font-face {
  font-family: loadingWar;
  src: url(../Fonts/Starjedi.ttf);
}

.loading-box * {
  font-family: loadingWar;
  color: #ffd700;
}

.loading-box {
  font-family: loadingWar;
  font-size: 1rem;
  padding: 0;
  text-align: center;
  position: relative;
  width: 20rem;
  margin: 10rem auto 0 auto;
}

.loader {
  width: 3px;
  height: 3px;
  background-color: #ffd700;
  margin: 0 2px;
  display: inline-block;
  animation: 💤 1000ms infinite ease-in-out;
}

.dot1 {
  animation-delay: 400ms;
}
.dot2 {
  animation-delay: 600ms;
}
.dot3 {
  animation-delay: 800ms;
}

@keyframes 💤 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.loading-box h1,
h2 {
  padding: 0;
  margin: 0;
  font-family: loadingWar;
}

.loading-box h1 {
  font-size: 2rem;
}

.loading-box h2 {
  text-align: right;
  font-size: 1rem;
  padding-right: 2rem;
}
