.error {
  display: inline;
  position: relative;
}

.error h1{
  font-size: 15rem;
}

.error h2{
  color: var(--starYellow);
  position: relative;
}

.death {
  background: center / cover url(../Assets/death.svg);
  display: inline-block;
  height: 15rem;
  position: relative;
  width: 15rem;
}
