@font-face {
  font-family: starWar;
  src: url(./Fonts/Starjhol.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  background: #000 center / cover url(./Assets/stars.png);
  height: 100vh;
  overflow: auto;
  text-align: center;
}

.header-block {
  display: block;
  position: relative;
  z-index: 1;
}

.twinkle {
  animation: 🌟 2000s linear infinite;
  background: transparent url(./Assets/twinkling.png) repeat top center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

@keyframes 🌟 {
  from {
    background-position: 11000 22022;
  }
  to {
    background-position: -1000px 20000px;
  }
}
