@font-face {
  font-family: starWar;
  src: url(./Fonts/Starjhol.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  height: 200vh;
  background: #000 url(./Assets/stars.png) repeat top center;
}

.header-block {
  z-index: 5;
  display: block;
  position: relative;
}

.twinkle {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 200vh;
  background: transparent url(./Assets/twinkling.png) repeat top center;
  animation: 🌟 900s linear infinite;
}

@keyframes 🌟 {
  from {
    background-position: 11000 22022;
  }
  to {
    background-position: -1000px 20000px;
  }
}
