@font-face {
  font-family: starWar;
  src: url(./Fonts/Starjhol.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  background-color: black;
  height: 100vh;
}

.App-header {
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

h1 {
  color: #ffd700;
  font-family: starWar;
  font-size: 5rem;
}
