@font-face {
  font-family: loadingWar;
  src: url(../Fonts/Starjedi.ttf);
}

.card-literal {
  border: 3px solid #ffd700;
  width: 20rem;
  height: 25rem;
  border-radius: 5px;
  position: relative;
  background-color: rgba(20, 20, 20, 0.705);
  text-align: right;
  padding-right: 5px;
  display: inline-block;
  overflow: hidden;
  margin: 1rem;
}

.card-literal::after {
  background: rgba(255, 255, 255, 0.137);
  content: "";
  height: 100%;
  left: -22%;
  bottom: 0;
  position: absolute;
  transition: 0.5s;
  transform: skewX(-10deg);
  height: 18%;
  width: 10%;
}

.card-literal:hover:after {
  left: 110%;
}

.card-literal h2 {
  color: #ffd700;
  text-transform: lowercase;
  letter-spacing: 2px;
  font-size: 1rem;
  margin-top: 20rem;
}

.card-literal h4 {
  display: block;
  text-transform: uppercase;
  font-size: 0.7rem;
  color: #ffd700;
}
