* {
  box-sizing: border-box;
}

@font-face {
  font-family: loadingWar;
  src: url(../Fonts/Starjedi.ttf);
}

.card-literal {
  background-color: rgba(20, 20, 20, 0.705);
  border: 5px solid var(--starYellow);
  display: inline-block;
  height: 25.6rem;
  margin: 1rem;
  overflow: hidden;
  padding-right: 2px;
  position: relative;
  text-align: right;
  transition: 0.2s;
  width: 20.6rem;
}

.card-literal:hover {
  animation: ❤️ 2s linear infinite; 
   filter: brightness(105%);
}

.card-literal:hover .caret {
  opacity: 0;
}

.text-field {
  background-color: rgba(0, 0, 0, 0.692);
  border-radius: 0 5px 5px 0;
  bottom: 5px;
  position: relative;
  margin-left: -302px;
  padding: 0 5px 5px 0;
  transition: 0.5s;
  width: 95%;
}

.caret {
  background: center / cover url(../Assets/right.svg);
  bottom: 20px;
  height: 30px;
  margin-left: 5rem;
  opacity: 100;
  position: absolute;
  right: -14px;
  transition: 0.8s;
  width: 20px;
}

.card-literal:hover .text-field {
  margin-left: 0;
  width: 95%;
}

.card-literal h2 {
  color: var(--starYellow);
  letter-spacing: 2px;
  font-size: 0.8rem;
  margin-top: -5rem;
  text-transform: lowercase;
}

.card-literal h4 {
  color: var(--starYellow);
  display: block;
  font-size: 0.7rem;
  text-transform: uppercase;
}

.fave {
  background: center url(../Assets/mark-as-favorite-star.svg);
  background-size: 2rem;
  background-repeat: no-repeat;
  background-color: var(--starYellow);
  border-radius: 0 0 0 5px;
  cursor: pointer;
  filter: brightness(80%);
  height: 2.5rem;
  padding: 15px;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.3s;
  width: 2.5rem;
}

.image-literal {
  height: 25rem;
  position: relative;
  width: 20rem;
}

.fave:hover {
  filter: brightness(100%);
}

.people-container {
  margin-bottom: 9rem;
}

.container-header {
  display: block;
}


.container-header h5 {
  color: var(--starYellow);
  position: relative;
  left: 0;
  letter-spacing: 2px;
  right: 0;
  text-transform: uppercase;
  top: -1rem;
}

@keyframes ❤️ {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 217, 0, 0);
  }
  50% {
    box-shadow: 0 0 0 1px rgb(255, 217, 0);
  }
  100% {
    box-shadow: 0 0 0 4px rgba(255, 217, 0, 0);
  }
}
